<br><br>
<div class="container mt-3">
    <h2>PUNTO 1 (8 puntos)</h2>
    <p>Desarrollar una aplicación angular usando MATERIAL, en dónde se vea una lista de 
        clientes (id, nombre, dirección, correo, teléfono).  Debe ver qué haya tres 
        componentes una de cabecera, la lista y el pie:</p>            
    <table class="table table-hover">
      <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DIRECCION</th>
            <th>CORREO</th>
            <th>TELEFONO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>001</td>
            <td>Juan Perez</td>
            <td>Direccion A101 - Lima</td>
            <td>juan.perez@cjava.com</td>
            <td>987654321</td>
        </tr>
        <tr>
            <td>002</td>
            <td>Pablo Ruiz</td>
            <td>Direccion A202 - Lima</td>
            <td>pablo.ruiz@cjava.com</td>
            <td>975318642</td>
        </tr>
        <tr>
            <td>003</td>
            <td>Maria Flores</td>
            <td>Direccion A303 - Lima</td>
            <td>maria.flores@cjava.com</td>
            <td>963852741</td>
        </tr>
      </tbody>
    </table>
  </div>